@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif; }

.reviews__review__comment-answer_hidden {
  display: none; }

#overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  position: fixed;
  z-index: 9;
  display: none;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.page-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 36px;
  color: #000000; }

.horisontal_line2 {
  margin-bottom: 28px !important; }

.ad {
  margin-top: 10px;
  padding-top: 12px;
  padding-left: 35px;
  text-align: center;
  margin: 0 auto; }

.ad__first-ad {
  margin-bottom: 30px; }
  .ad__first-ad img {
    max-width: 271px;
    max-height: 386px; }

.ad__second-ad img {
  max-width: 271px;
  max-height: 386px; }

.reviews .reviews__summary .reviews__summary__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 18px;
  margin-bottom: 20px; }
  .reviews .reviews__summary .reviews__summary__top .reviews__summary__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .reviews .reviews__summary .reviews__summary__top .reviews__summary__wrap .reviews__summary__top__star {
      width: 167px;
      height: 26px;
      max-width: 167px;
      max-height: 26px;
      margin-right: 17px; }
    .reviews .reviews__summary .reviews__summary__top .reviews__summary__wrap .reviews__summary__top__num {
      margin-bottom: 0;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      font-size: 25px;
      color: #4F4F4F;
      margin-right: 17px; }
    .reviews .reviews__summary .reviews__summary__top .reviews__summary__wrap .reviews__summary__top__all-buyers {
      margin-bottom: 0;
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      color: #4F4F4F; }
  .reviews .reviews__summary .reviews__summary__top .reviews__summary__top__send-review-btn {
    width: 180px;
    height: 44px;
    margin-right: -22px;
    background: #008E62;
    border-radius: 5px;
    -webkit-box-shadow: 0.6px 2.9px 29px rgba(46, 46, 46, 0.22);
            box-shadow: 0.6px 2.9px 29px rgba(46, 46, 46, 0.22);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF; }
.reviews .reviews__summary .reviews__summary__bot {
  font-family: Roboto;
  font-size: 12px; }
  .reviews .reviews__summary .reviews__summary__bot .reviews__summary__bot__firstly {
    display: inline-block;
    color: #8B8B8B; }
  .reviews .reviews__summary .reviews__summary__bot .reviews__summary__bot__list {
    display: inline-block;
    padding-left: 16px; }
    .reviews .reviews__summary .reviews__summary__bot .reviews__summary__bot__list .reviews__summary__bot__list-item {
      list-style-type: none;
      display: inline-block;
      margin-right: 17px;
      cursor: pointer;
      border-bottom: 1px dashed black; }
    .reviews .reviews__summary .reviews__summary__bot .reviews__summary__bot__list .reviews__summary__bot__list-item_active {
      border-bottom: none; }
.reviews .reviews__review .reviews__review__info {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .reviews .reviews__review .reviews__review__info .reviews__review__info__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .reviews .reviews__review .reviews__review__info .reviews__review__info__wrap .reviews__review__info__name {
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 20.0326px;
      color: #2E2E2E;
      margin-right: 15px;
      margin-bottom: 0; }
    .reviews .reviews__review .reviews__review__info .reviews__review__info__wrap .reviews__review__info__rate {
      width: 128.42px;
      height: 20px;
      max-width: 128.42px;
      max-height: 20px; }
  .reviews .reviews__review .reviews__review__info .reviews__review__info__date {
    font-family: "Roboto", sans-serif;
    font-size: 13.8084px;
    color: #4F4F4F;
    text-align: right;
    margin-bottom: 0;
    margin-right: -20px;
    margin-bottom: 6px; }
.reviews .reviews__review .reviews__review__content {
  margin-top: 16px;
  margin-left: 2px; }
  .reviews .reviews__review .reviews__review__content p {
    font-family: "Roboto", sans-serif;
    line-height: 22px;
    font-size: 14px;
    color: #333333;
    margin-bottom: 23px; }
.reviews .reviews__review .reviews__review__comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 2px; }
  .reviews .reviews__review .reviews__review__comments .reviews__review__comments__left-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .reviews .reviews__review .reviews__review__comments .reviews__review__comments__left-part .reviews__review__comments__show-comments {
      cursor: pointer;
      font-family: Roboto;
      font-size: 13.8084px;
      color: #4F4F4F;
      margin-right: 30px; }
      .reviews .reviews__review .reviews__review__comments .reviews__review__comments__left-part .reviews__review__comments__show-comments p {
        margin-bottom: 0px;
        border-bottom: 1px dashed black; }
    .reviews .reviews__review .reviews__review__comments .reviews__review__comments__left-part .reviews__review__comments__comment {
      cursor: pointer;
      margin-left: 3px;
      font-family: Roboto;
      font-size: 13.8084px;
      color: #4F4F4F;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 0px; }
      .reviews .reviews__review .reviews__review__comments .reviews__review__comments__left-part .reviews__review__comments__comment p {
        border-bottom: 1px dashed black; }
      .reviews .reviews__review .reviews__review__comments .reviews__review__comments__left-part .reviews__review__comments__comment .reviews__review__comments__comment__image {
        width: 20px;
        height: 21px;
        margin-right: 10px; }
  .reviews .reviews__review .reviews__review__comments .reviews__review__comments__right-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: -16px; }
    .reviews .reviews__review .reviews__review__comments .reviews__review__comments__right-part .reviews__review__comments__quest {
      font-family: Roboto;
      font-size: 13.8084px;
      color: #4F4F4F; }
    .reviews .reviews__review .reviews__review__comments .reviews__review__comments__right-part .reviews__review__comments__btn-like {
      cursor: pointer;
      font-family: Roboto;
      font-size: 13.8084px;
      color: #4F4F4F;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-left: 30px; }
      .reviews .reviews__review .reviews__review__comments .reviews__review__comments__right-part .reviews__review__comments__btn-like:hover .reviews__review__comments__btn-like__image {
        color: green; }
      .reviews .reviews__review .reviews__review__comments .reviews__review__comments__right-part .reviews__review__comments__btn-like p {
        margin-left: 7px; }
      .reviews .reviews__review .reviews__review__comments .reviews__review__comments__right-part .reviews__review__comments__btn-like .reviews__review__comments__btn-like__image {
        font-size: 19px;
        color: darkgray; }
    .reviews .reviews__review .reviews__review__comments .reviews__review__comments__right-part .reviews__review__comments__btn-dislike {
      cursor: pointer;
      font-family: Roboto;
      font-size: 13.8084px;
      color: #4F4F4F;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-left: 30px; }
      .reviews .reviews__review .reviews__review__comments .reviews__review__comments__right-part .reviews__review__comments__btn-dislike:hover .reviews__review__comments__btn-dislike__image {
        color: red; }
      .reviews .reviews__review .reviews__review__comments .reviews__review__comments__right-part .reviews__review__comments__btn-dislike p {
        margin-left: 7px; }
      .reviews .reviews__review .reviews__review__comments .reviews__review__comments__right-part .reviews__review__comments__btn-dislike .reviews__review__comments__btn-dislike__image {
        font-size: 19px;
        color: darkgray; }

.reviews__review_subcomments {
  margin-left: 30px;
  display: none; }
  .reviews__review_subcomments .reviews__review_subcomments__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
    margin-left: 1px; }
    .reviews__review_subcomments .reviews__review_subcomments__info .reviews__review_subcomments__info__name {
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 16px; }
    .reviews__review_subcomments .reviews__review_subcomments__info .reviews__review_subcomments__info__date {
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      margin-right: -23px;
      color: #4F4F4F; }
  .reviews__review_subcomments .reviews__review_subcomments__content p {
    font-family: "Roboto", sans-serif;
    line-height: 20px;
    font-size: 14px;
    color: #333333;
    margin-top: 3px;
    margin-left: 1px;
    margin-bottom: 0px; }
  .reviews__review_subcomments .reviews__review_subcomments__answ {
    font-family: "Roboto", sans-serif;
    font-size: 13.8084px;
    margin-top: 13px;
    margin-left: 1px;
    display: inline-block;
    border-bottom: 1px dashed black;
    cursor: pointer; }

.horisontal_line3 {
  margin-top: 6px !important;
  margin-bottom: 29px !important; }

.horisontal_line {
  background: #D8D8D8;
  width: 100%;
  height: 1px;
  margin-bottom: 10px; }

.reviews__review__comment-answer {
  margin-bottom: 49px; }
  .reviews__review__comment-answer .wrap {
    margin-left: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .reviews__review__comment-answer .wrap textarea {
      width: 524px;
      height: 44px;
      border-top: none;
      border-left: none;
      border-right: none;
      resize: none;
      outline: none;
      margin-top: 50px;
      font-family: "Roboto", sans-serif;
      line-height: 17px;
      font-size: 16px;
      color: #4F4F4F;
      margin-bottom: 10px; }
      .reviews__review__comment-answer .wrap textarea:focus {
        border-bottom: 2px solid #038057; }
    .reviews__review__comment-answer .wrap form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-bottom: 8px; }
      .reviews__review__comment-answer .wrap form .form-wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      .reviews__review__comment-answer .wrap form .form-item {
        display: inline-block;
        vertical-align: top;
        position: relative; }
        .reviews__review__comment-answer .wrap form .form-item label {
          color: #038057; }
      .reviews__review__comment-answer .wrap form .form-input {
        outline: 0;
        height: 50px;
        padding: 2px 0px;
        border: none;
        border-bottom: 1px solid #D8D8D8;
        width: 247px;
        padding-left: 2px; }
      .reviews__review__comment-answer .wrap form .form-label {
        position: absolute;
        pointer-events: none;
        left: 0px;
        top: 0px;
        line-height: 40px;
        -webkit-transition: 0.3s;
        transition: 0.3s; }
      .reviews__review__comment-answer .wrap form .form-input:focus {
        border-bottom: 2px solid #038057; }
      .reviews__review__comment-answer .wrap form .form-input:focus ~ .form-label,
      .reviews__review__comment-answer .wrap form .form-input:not(:focus):valid ~ .form-label {
        top: -15px;
        font-size: 14px; }

.reviews__review__comment-answer_right-part p {
  font-family: "Roboto", sans-serif;
  line-height: 17px;
  font-size: 12px;
  color: #4F4F4F;
  margin-bottom: 9px; }

.close-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
  margin-top: 20px; }
  .close-btns .reviews__review__comment__send-btn {
    width: 180px;
    height: 37px;
    background: #008E62;
    border-radius: 5px;
    -webkit-box-shadow: 0.6px 2.9px 29px rgba(46, 46, 46, 0.22);
            box-shadow: 0.6px 2.9px 29px rgba(46, 46, 46, 0.22);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    margin-right: 20px; }
  .close-btns .reviews__review__comment__close-form-btn {
    width: 168px;
    height: 37px;
    background: #E8E8E8;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    text-align: center;
    color: #333333; }
    .close-btns .reviews__review__comment__close-form-btn img {
      margin-right: 10px;
      max-width: 9px;
      max-height: 9px; }

.page-navig {
  margin-top: 20px;
  margin-bottom: 50px; }
  .page-navig ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0; }
  .page-navig__list {
    list-style: none;
    margin-right: 15px; }
    .page-navig__list:hover a {
      color: #038057; }
  .page-navig:last-child {
    margin-right: 0; }
  .page-navig a {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    text-decoration: none; }

@media all and (max-width: 1200px) {
  .reviews__review__comment-answer_right-part {
    display: none; }

  .reviews__summary__top__num {
    font-size: 15px !important; }

  .reviews__summary__top__all-buyers {
    font-size: 12px !important; } }
@media all and (max-width: 990px) {
  .ad {
    display: none; } }
@media all and (max-width: 770px) {
  .page-name {
    font-size: 25px; }

  .reviews__review__comments__left-part {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .reviews__review__comments__right-part {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .reviews__review__comments__comment {
    margin-top: 10px; }

  .reviews__review__comments__btn-like {
    margin-top: 5px; }

  .reviews__review__comment-answer .wrap textarea {
    width: 80%; }

  .reviews__review__comment-answer .wrap form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .reviews__review__comment-answer .wrap form .form-item {
    margin-top: 3px;
    margin-bottom: 3px; } }
@media all and (max-width: 540px) {
  .reviews__summary__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .reviews__summary__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .page-name {
    text-align: center; }

  .reviews__review__info__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important; }

  .reviews__review__info__rate {
    margin-left: 0; }

  .reviews__summary__top__send-review-btn {
    margin-right: 0px !important; }

  .reviews__summary__top__all-buyers {
    margin-bottom: 10px !important; }

  .reviews__summary__top__star {
    margin-bottom: 10px !important; }

  .reviews__summary__top__num {
    margin-bottom: 10px !important; } }
@media all and (max-width: 400px) {
  .reviews__summary__bot__list-item {
    display: block !important; }

  .reviews__summary__bot__firstly {
    display: block !important; }

  .reviews__review__comment__send-btn {
    width: 150px !important;
    font-size: 12px !important; }

  .reviews__review__comment__close-form-btn {
    width: 150px !important;
    font-size: 12px !important; } }
.reviews__review_subcomments-visible {
  display: block; }

.global-wrap-pop {
  position: absolute; }

.pop-review {
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50px);
          transform: translate(-50%, -50px);
  z-index: 99;
  display: none;
  z-index: 99;
  width: 90%;
  max-width: 830px;
  text-align: center;
  margin: 0 auto; }

.pop-review__button-close {
  position: absolute;
  cursor: pointer;
  top: -30px;
  right: -20px; }

.review-leave {
  background: #fff;
  padding: 30px 0px;
  padding-top: 28px;
  padding-left: 70px;
  padding-right: 70px; }

.review-leave__header {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 30px;
  margin-top: 19px; }

.review-leave__pred {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  margin-top: 10px; }

.offer-rev-first {
  margin-top: 5px; }

.offer-rev-first, .offer-rev-sec, .offer-rev-third, .offer-rev-four {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0px; }

.offer-rev-four {
  margin-bottom: 12px;
  margin-top: 3px; }

.review-mark {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .review-mark p {
    margin-top: 10px; }

.offer-rev-first__write {
  text-align: left; }
  .offer-rev-first__write p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin-top: -5px; }

.review-select, .review-input, .review-textarea {
  width: 360px;
  outline: 0;
  margin-right: 35px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  border: 0;
  border-bottom: 1px solid #D8D8D8;
  font-size: 16px; }

.review-textarea {
  max-height: 40px; }

.offer-rev-first__operat, .offer-rev-sec__pseudo, .offer-rev-third__db, .offer-rev-four__town {
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px; }

.offer-rev-sec__pseudo {
  margin-top: -15px; }

.offer-rev-first__operat p {
  margin-top: 8px; }

.offer-rev-sec {
  margin-top: -6px; }

.form-item {
  display: inline-block;
  vertical-align: top;
  position: relative; }
  .form-item label {
    color: #038057; }

.form-input {
  outline: 0;
  height: 50px;
  padding: 3px 0px;
  padding-top: 8px; }

.form-label {
  position: absolute;
  pointer-events: none;
  left: 0px;
  top: 5px;
  line-height: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.form-input:focus {
  border-bottom: 3px solid #038057; }

.form-input:focus ~ .form-label,
.form-input:not(:focus):valid ~ .form-label {
  top: -10px;
  font-size: 14px; }

.selects .review-select {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px; }

.selects {
  position: relative;
  display: inline-block; }

.selects:after {
  content: "";
  font: 20px/30px FontAwesome;
  padding: 0 8px;
  font-size: 18px;
  position: absolute;
  right: 14px;
  top: 12px;
  color: #333333;
  z-index: 1;
  text-align: center;
  width: 11%;
  height: 100%;
  pointer-events: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.review-select {
  padding-right: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-top: 5px;
  height: 45px; }

.review-police {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px; }
  .review-police a {
    text-decoration: underline;
    color: #008E62; }

.review-leave__send_green {
  display: block;
  background: #008E62;
  width: 180px;
  text-align: center;
  color: #fff;
  border-radius: 3px;
  padding: 10px 15px;
  text-decoration: none; }
  .review-leave__send_green:hover {
    color: #fff;
    text-decoration: none; }

.review-no-check[type="checkbox"] {
  display: none; }

.revi-polic__label {
  width: 27px;
  height: 17px;
  position: relative; }

.review-no-check[type="checkbox"] + span {
  position: absolute;
  left: 0;
  top: 5px;
  width: 33px;
  height: 33px;
  background: url(../img/cube.png) no-repeat;
  cursor: pointer; }

.review-no-check[type="checkbox"]:checked + span {
  background: url(../img/cubenk.png) no-repeat; }

.review-police__page-link {
  text-align: left;
  margin-left: 3px; }

/*sprite with stars */
#reviewStars-input input:checked ~ label, #reviewStars-input label, #reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
  background: url("http://positivecrash.com/wp-content/uploads/ico-s71a7fdede6.png") no-repeat; }

#reviewStars-input {
  overflow: hidden;
  position: relative;
  float: left; }

#reviewStars-input input {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  width: 43px;
  height: 40px;
  position: absolute;
  top: 0;
  z-index: 0; }

#reviewStars-input input:checked ~ label {
  background-position: 0 -40px;
  height: 40px;
  width: 43px; }

#reviewStars-input label {
  background-position: 0 0;
  height: 40px;
  width: 43px;
  float: right;
  cursor: pointer;
  margin-right: 10px;
  position: relative;
  z-index: 1; }

#reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
  background-position: 0 -40px;
  height: 40px;
  width: 43px; }

#reviewStars-input #star-0 {
  left: 0px; }

#reviewStars-input #star-1 {
  left: 53px; }

#reviewStars-input #star-2 {
  left: 106px; }

#reviewStars-input #star-3 {
  left: 159px; }

#reviewStars-input #star-4 {
  left: 212px; }

#reviewStars-input #star-5 {
  left: 265px; }

.star-rating {
  font-size: 0;
  margin-left: 35px; }

.star-rating__wrap {
  display: inline-block;
  font-size: 25px; }

.star-rating__wrap:after {
  content: "";
  display: table;
  clear: both; }

.star-rating__ico {
  margin-left: 3px;
  float: right;
  padding-left: 2px;
  cursor: pointer;
  color: #FFB300; }

.star-rating__ico:last-child {
  padding-left: 0; }

.star-rating__input {
  display: none; }

.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before {
  content: ""; }

@media screen and (max-width: 995px) {
  .review-select, .review-input, .review-textarea {
    width: 250px; } }
@media screen and (max-width: 770px) {
  .offer-rev-first, .offer-rev-sec, .offer-rev-third, .offer-rev-four {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; } }
@media screen and (max-width: 430px) {
  .review-select, .review-input, .review-textarea {
    width: 100%; }

  .review-leave {
    padding: 25px 20px; }

  .star-rating {
    margin-left: 15px; }

  .star-rating__wrap {
    font-size: 15px; } }
@media screen and (max-width: 340px) {
  .form-item label {
    font-size: 14px; }

  .review-police__page-link {
    margin-left: 5px; } }

/*# sourceMappingURL=main.css.map */